<div class="card bg-dark">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Logo_Plano_Epico.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Wilson Duvan Tulande</h3>
      </div>

      <div class="text-center">@wduvan</div>
      <div class="text-center">
        <a href="https://wduvan.com/" target="_blank">website</a>
      </div>
    </div>
  </div>
</div>
